<%- include('../partials/header') %>

    <div class="card">
        <div class="card-header text-center">
            <h1>
                <%= user.name %>
            </h1>
        </div>
        <div class="card-body">
            <form action="" method="get">
                <input type="hidden" name="page" value="1">
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" value="<%= query.name %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="birthdate" class="col-sm-2 col-form-label">Birthdate</label>
                    <div class="col-sm-10 row">
                        <div class="md-5">
                            <input type="date" class="form-control" name="startdate"
                                value="<%= query.startdate ? moment(query.startdate).format('YYYY-MM-DD') : '' %>">
                        </div>
                        <div class="md-2">
                            <p>s.d.</p>
                        </div>
                        <div class="md-5">
                            <input type="date" class="form-control" name="todate"
                                value="<%= query.todate ? moment(query.todate).format('YYYY-MM-DD') : '' %>">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Cari</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Tanggal lahir</th>
                    <th>avatar</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach(item=> { %>
                    <tr>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= moment(item.birthdate).format('DD MMM YYYY') %>
                        </td>
                        <td>
                            <img src="/images/<%= item.avatar %>" alt="" width="100">
                        </td>
                        <td>
                            <a href="/users/edit/<%= item.id %>" class="btn btn-success">Edit</a>
                            <a href="/users/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item<%= page == 1 ? ' disabled' : '' %>">
                    <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page - 1}`) %>"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for(let i=1; i <=pages; i++){ %>
                    <li class="page-item<%= page == i ? ' active' : '' %>"><a class="page-link"
                            href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                            <%= i %>
                        </a></li>
                    <% } %>
                        <li class="page-item<%= page == pages ? ' disabled' : '' %>">
                            <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
            </ul>
        </nav>
        <div class="card-footer">
            <a href="/users/add" class="btn btn-primary">Tambah</a>
            <a href="/logout" class="btn btn-danger">Keluar</a>
        </div>
    </div>

    <%- include('../partials/footer') %>